/* Estilos para el body */
body {
  font-family: 'Bellota', sans-serif;
  background-color: #E8D0BA;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
  
  /* Estilos para un contenedor principal */
  .container {
    width: 1000px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
  }
  
  /* Estilos para encabezados */
  h1 {
    font-size: 60px;
    font-weight: bold;
    color: #6d2b79;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Bellota', sans-serif; /* Cambio de fuente a Bellota */
  }
  
  /* Estilos para enlaces */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  /* Estilos para botones */
  .mat-raised-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #dc3545;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .mat-raised-button:hover {
    background-color: #c82333;
  }
  
  .mat-icon-button {
    cursor: pointer;
  }
  
  .mat-icon-button:hover {
    background-color: #007bff;
  }
  
  /* Estilos para formularios */
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .mat-input-element {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dddddd;
    outline: none;
  }
  
  .mat-input-element:focus {
    border-color: #007bff;
  }
  
  /* Estilos para la tabla */
  .mat-elevation-z8 {
    width: 100%;
  }
  
  .mat-header-cell,
  .mat-cell {
    text-align: center;
  }
  
  .mat-header-row,
  .mat-row {
    display: flex;
    border-bottom: 1px solid #ddd;
  }
  
  .mat-row:hover {
    background-color: #f8f9fa;
  }
  
  .mat-cell {
    flex: 1;
  }
  
  .custom-button {
    color: #6d2b79; /* Cambiar el color a morado (puedes usar cualquier valor de color morado que desees) */
  } 
