<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


</head>

<body>
  <div class="form-container">

    <form [formGroup]="form" (submit)="aceptar()">
      <h1> Ingresar Datos </h1>

      <mat-form-field class="example-full-width ">
        <mat-label>Código</mat-label>
        <input matInput placeholder="Código" formControlName="id" readonly />
      </mat-form-field>

      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Tipo de Especialidad</mat-label>
        <input matInput required placeholder="Nombre" formControlName="tipoEspecialidad" />
      </mat-form-field>
      <br>


      <mat-form-field class="example-full-width">
        <mat-label>Descripción </mat-label>
        <input required matInput placeholder="descripción" formControlName="descripcionEspecialidad" />
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Centro de Estudio</mat-label>
        <mat-select placeholder="Elija Centro de Estudio" formControlName="centroEspecialidad"
          required>
          <mat-option value="UNMSM">UNMSM</mat-option>
          <mat-option value="PUCP">PUCP</mat-option>
          <mat-option value="IPCC">IPCC</mat-option>
          <mat-option value="UPCH">UPCH</mat-option>
          <mat-option value="UPC">UPC</mat-option>
        </mat-select>
      </mat-form-field>
      <br>



      <br>
      <div style="text-align: center">
        <button mat-icon-button color="primary">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button color="warn" routerLink="/especialidad">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>

      <br>
      <p>{{ mensaje }}</p>
    </form>
  </div>
</body>

</html>
